.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  padding: 1rem;

  .login-form {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 6px;
    border: 1px solid #ddd; /* Simple border for a card look */
    width: 100%;
    max-width: 400px;
    font-family: 'Roboto', Arial, sans-serif;

    h2 {
      margin-bottom: 1rem;
      color: #333;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
    }

    label {
      display: block;
      margin: 0.5rem 0 0.2rem;
      color: #555;
      font-size: 0.9rem;
      font-weight: 600;
    }

    input {
      width: 100%;
      padding: 0.7rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 0.9rem;
      outline: none;

      &::placeholder {
        color: #aaa;
      }
    }

    .user-field{
      position: relative;
      margin-right: 20px;
    }

    .password-field {
      position: relative;
      margin-right: 20px;

      .eye-icon {
        position: absolute;
        right: 10px;
        top: 40%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #888;
        font-size: 1rem;
      }
    }

    .forgot-password {
      text-align: right;
      margin-bottom: 1rem;

      .forgotpassword-link {
        color: #007bff;
        font-size: 0.9rem;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .login-button {
      width: 100%;
      padding: 0.8rem;
      background: #007bff;
      color: white;
      font-size: 0.9rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: #0056b3; /* Slightly darker on hover */
      }
    }

    .additional-links {
      margin-top: 1rem;
      text-align: center;

      p {
        margin: 0.5rem 0;
        color: #555;
        font-size: 0.9rem;
      }

      .register-link {
        color: #007bff;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
          color: #0056b3;
        }
      }
    }
  }
}
